.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridDetail{
    display: grid;
    grid-template-columns: 40% 50%;
    width: 100%;
    margin-top: 40px;
}

.columnInfo button{
    font-weight: 700;
    font-size: 17px;
    background: none;
    border: 2px solid;
    border-bottom-width: 4px;
    letter-spacing: 0.125em;
    padding: 10px;
    text-transform: uppercase;
    color: #ccc;
    cursor: pointer;
}

.columnInfo .infoChar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 200px;
    color: #ccc;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.753);
}

.infoChar h2{
    margin-left: 75px;
}

.infoChar h4{
    margin-left: 40px;
}

.charImage{
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.imgContent{
    width: 450px;
}

.imgContent img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}